.section-inicio-logo {
    height: 25%;
    padding-top: 100px;
}

.section-inicio-logo img {
    width: 200px;
    height: auto;
}

.section-form-inicio {
    height: 35%;
    margin-top: 50px;
}

.section-form-inicio .form-inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-form-inicio .form-inicio label {
    padding: 7px;
    font-size: 14px;
    color: var(--complementario);
}

.section-form-inicio .form-inicio input {
    width: 290px;
    height: 40px;
    margin: 0 auto 22px;
    border-radius: 10px;
    text-indent: 5px;
}

.section-form-inicio .form-inicio input:nth-child(4) {
    margin: 0 auto 5px;
}

.section-form-inicio .form-inicio a {
    font-size: 10px;
    color: var(--complementario);
    text-align: center;
}


.section-form-inicio .form-inicio button {
    width: 170px;
    height: 30px;
    margin: 5% auto 0;
    background-color: var(--enfasis);
    color: black;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.section-form-inicio .form-inicio button:hover {
    cursor: pointer;
    background-color: var(--complementario);
    color: var(--base);
}

.section-register {
    height: 20%;
    padding-top: 10%;
}

.section-register p {
    font-size: 14px;
    font-weight: bold;
}

.section-register p a {
    color: var(--complementario);
    padding-left: 5px;
}

.section-google {
    width: 100%;
    height: 20%;
    margin-top: 10%;
    border-top: 1px solid #AE9B9B;
    text-align: center;
}

.section-google div {
    position: relative;
    top: -10px;
    left: calc(50% - 12px);
    background-color: #FFFFFF;
    display: block;
    width: 12px;
}

.section-google p:nth-child(2) {
    font-size: 14px;
    font-weight: bold;
}

.section-google p img {
    width: 28px;
    height: 28px;
    position: relative;
    top: 8px;
}
