.section-head {
    width: 85%;
    height: 15%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    }
    .logo-timeline{
        width: 140px;
        height: auto;
        /*margin-right: 80px;*/
        margin-top: 40px;
    }
    .hola-estilo{
        display: flex;
        /*justify-content: flex-end;*/
        margin-top: 50px;
        font-weight: 500;
    }
    .section-posting {
        height: 25%;
        display: grid;
        /*flex-direction: column;*/
        font-size: 16px;
    }
    .form-post{
        display: flex;
       flex-direction: column;
    }
    .input-post{
    border-color: var(--complementario);
    height: auto;
    width: 300px;
    display: flex;
    padding: 5px;
    margin-top: 30px;
    border-radius: 10px;
    border-width: 2px;
    }
    
    .boton-enviar{
        width: 90px;
        height: 30px;
        margin-top: 5px;
       /* margin-left: 80px;*/
        border-radius: 15px;
        margin-left: 210px;
        background-color: var(--enfasis);
        border: none;
    }
    
    .boton-enviar:hover{
        cursor: pointer;
        background-color: var(--complementario);
    }
    
    .section-timeline{
        /*width: 100%;*/
        height:45% ;
        display: grid;
    }
    .div-posted{
        display:grid;
        gap: 15px;
    }
    .post-options{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    .post-foreach{
        background-color: #fff6d8;
        display: flow-root;
        margin: 15px;
        padding: 10px;
    }
    .post-nameDate{
        display:flex;
        justify-content: space-between;
        gap: 15px;
        font-weight: 500;
    }
    .par-name{
        display: flex;
        /*margin-right: 185px;*/
    }
    .btn-delete{
        background: var(--enfasis);
        border: none;
        border-radius: 10px;
    }
    .btn-edit{
        background: var(--enfasis);
        border: none;
    border-radius: 10px;
    }
    .btn-like{
        border:0;
        background: none;
        font-size: 18px;
    }
    .btn-like.normal{
        color: var(--enfasis);
    }
    .btn-like.active{
        color: var(--complementario);
    }
    
    .post-like{
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        padding: 5px;
        align-items: baseline;
    }
    
    
    footer {
        width: 100%;
        height: 50px;
        background-color: var(--complementario);
        color: var(--base);
        position: fixed;
        bottom: 0;
        display: flex;
    }
    
    .signOut-button{
        width: 32px;
        height: auto;
        margin-top: 5px;
        margin-right: 15px;
        background-color: var(--complementario);
        border: none;
        margin-right: -300px;
    }
    .signOut-icon{
        color: var(--base);
        width: 32px;
        height: auto;
    }

    @media only screen and (max-width: 1920px) and (min-width: 900px) {
        .section-head {
            width: 60%;
        }
    }